.grid(data-sc="shift + g")
  .grid__columns
    .grid__column
    .grid__column
    .grid__column
    .grid__column
    .grid__column
    .grid__column
    .grid__column
    .grid__column
    .grid__column
    .grid__column
    .grid__column
    .grid__column
