.alert{
    @extend %cover;
    @extend %center;

    opacity: 0;
    color: $color-black;
    background-color: $color-white;
    pointer-events: none;
    position: fixed;
  
    z-index: z('alert');
}
  
.alert__text{
    @extend %title-60;
}
  