.grid{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9996;
  pointer-events: none;
  opacity: 0;
}

.grid__columns{
  height: 100%;
  display: flex;
}

.grid__column{
  position: relative;
  margin-left: 0.5556vw;
  margin-right: 0.5556vw;
  width: 7.2222vw;
  background-color: red;
}
  
