.navigation{
  @extend %cover;

  color: $color-black;
  pointer-events: none;
  position: fixed;

  z-index: z('navigation');
}

.navigation__link{
  @extend %title-32;

  right: 1.0416vw;
  position: absolute;
  bottom: 4%;

  @media screen and (max-width: 768px){
    right: unset;
    left: 9.4998vw;
  }
}

.navigation__list{}

.navigation__list__item{
  position: absolute;
  right: 1.0416vw;
  top: 4%;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;

  @media screen and (max-width: 768px){
    right: 9.4998vw;
  }
}

.navigation__list__link{
  @extend %title-23;

  display: block;
  line-height: 1;
  opacity: 1;
}
