.navigation{
  @extend %cover;

  color: $color-black;
  pointer-events: none;
  position: fixed;

  z-index: z('navigation');
}

.navigation__link{
  @extend %title-60;

  pointer-events: auto;
  left: 4rem;
  position: absolute;
  top: 4rem;
  mix-blend-mode: difference;

  @include media('<tablet'){
    top: 5rem;
    left: 5rem;
  }
}

.navigation__list{}

.navigation__list__item{
  position: absolute;
  pointer-events: auto;
  right: 4rem;
  top: 6rem;
}

.navigation__list__link{
  @extend %title-20;

  display: block;
  line-height: 1;
}
