.about{
  @extend %page;
}

.about__wrapper{
  @extend %cover;
}

.about__title{
  @extend %title-200;

  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0.3;
}

.about__infos{
  position: absolute;
  top: 30%;
  left: 60%;
  backdrop-filter: blur(0.5rem);
}
.about__infos__category{
  @extend %title-30;

  margin-bottom: 4rem;
}
.about__infos__row{
  display: flex;
  margin-bottom: 3rem;
}
.about__infos__row__title{
  @extend %title-20;

  min-width: 9rem;
}
.about__infos__row__text{
  @extend %description-14;

  opacity: 0.7;
  text-align: left;
  max-width: 40rem;
}

.about__contact{
  position: absolute;
  bottom: 15%;
  left: 15%;
}
.about__contact__category{
  @extend %title-30;

  margin-bottom: 2rem;
}
.about__contact__list{
  display: flex;
  flex-direction: column;
}
.about__contact__list__link{
  @extend %description-14;

  margin-left: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0.7;
  transition: opacity 0.4s ease;

  &:hover{
    opacity: 0.9;
  }
}
