.about{
  @extend %page;
}

.about__wrapper{
  padding-top: 10rem;
}

.about__title{
  @extend %title-100;

  text-align: center;
  max-width: 126rem;
  margin: 0 auto;

  @include media('<phone'){
    max-width: 67.7rem;
  }
}
