.detail{
  @extend %page;
}

.detail__wrapper{
  @extend %cover;

  display: flex;
  align-items: center;

  @include media('<desktop'){
    flex-direction: column;
    position: static;
  }
}

.detail__gallery{
  @extend %cover;

  @include media('<desktop'){
    position: static;
    height: 0%;
  }
}

.detail__gallery__wrapper{
  position: absolute;
  top: 30%;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('<desktop'){
    position: static;
    margin-top: 80rem;
    padding-bottom: 10rem;
  }
}

.detail__media{
  height: 33.2rem;
  position: relative;
  width: 68.8rem;

  &:not(:last-child){
    margin-bottom: 10rem
  }
}

.detail__media__image{
  @extend %cover;
}

.detail__information{
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translateY(-50%);

  @include media('<desktop'){
    position: static;
    transform: none;
    padding-top: 20rem;
  }
}

.detail__information__title{
  margin-bottom: 4rem;

  span{
    display: inline-block;
    overflow: hidden;
  }

  span span{
    @extend %title-90;

    letter-spacing: 0.7rem;
    text-transform: uppercase;
  }
}

.detail__information__content{

}

.detail__information__description{
  padding-bottom: 3rem;
  text-align: justify;
}

.detail__information__description__text{
  line-height: 1.3;

  span{
    display: inline-block;
    overflow: hidden;
  }

  span span{
    @extend %description-16;

    letter-spacing: .1rem;
  }
}

.detail__information__technos{
  text-align: justify;
}

.detail__information__technos__text{
  line-height: 1.3;

  span{
    display: inline-block;
    overflow: hidden;
  }

  span span{
    @extend %description-16;

    letter-spacing: .09rem;
    opacity: 0.8;
  }
}
