.detail{
  @extend %page;
  @extend %center;
}

.detail__wrapper{
  @extend %cover;

  display: flex;
  align-items: center;
}

.detail__gallery{
  @extend %cover;
}

.detail__gallery__wrapper{
  position: absolute;
  top: 40%;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__media{
  position: relative;

  &:not(:last-child){
    margin-bottom: 10rem
  }
}

.detail__media__image{
  @extend %cover;

  object-fit: cover
}

.detail__information{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%)
}

.detail__information__title{
  @extend %title-100;

  max-width: 60rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.detail__information__content{

}

.detail__information__description{
  max-width: 44rem;
  padding-bottom: 3rem;
  text-align: justify;
}

.detail__information__description__text{
  @extend %description-16;

  letter-spacing: 0.03rem;
  opacity: 0.8;
}

.detail__information__technos{
  max-width: 44rem;
  text-align: justify;
}

.detail__information__technos__text{
  @extend %description-16;

  letter-spacing: 0.03rem;
}


.detail__information__link{
  @extend %title-30;

  display: inline-block;
  margin-top: 3rem;
}

.detail__button{
  @extend %description-16;

  align-items: center;
  display: flex;
  height: 6rem;
  justify-content: center;
  letter-spacing: 0.05rem;
  width: 12.4rem;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
}

.detail__button__icon{
  @extend %cover;
}
