.detail{
  @extend %page;
}

.detail__wrapper{
  @extend %cover;

  display: flex;
  align-items: center;

  @include media('<tablet'){
    flex-direction: column-reverse;
    height: 0%;
    position: static;
  }
}

.detail__gallery{
  @extend %cover;

  @include media('<tablet'){
    position: static;
    height: 0%;
    position: static;
  }
}

.detail__gallery__wrapper{
  position: absolute;
  top: 30%;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('<tablet'){
    position: static;
    margin-top: 10rem;
  }
}

.detail__media{
  height: 33.2rem;
  position: relative;
  width: 68.8rem;

  &:not(:last-child){
    margin-bottom: 10rem
  }
}

.detail__media__image{
  @extend %cover;

  object-fit: cover
}

.detail__information{
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translateY(-50%);

  @include media('<tablet'){
    position: static;
    transform: none;
    padding-top: 15rem;
  }
}

.detail__information__title{
  @extend %title-90;

  // max-width: 60rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.detail__information__content{

}

.detail__information__description{
  max-width: 44rem;
  padding-bottom: 3rem;
  text-align: justify;
}

.detail__information__description__text{
  @extend %description-16;

  letter-spacing: 0.03rem;
  opacity: 0.8;
  line-height: 1.3;
}

.detail__information__technos{
  max-width: 44rem;
  text-align: justify;
}

.detail__information__technos__text{
  @extend %description-16;

  letter-spacing: 0.03rem;
  line-height: 1.3;
}
