%description-16 {
  font-family: $font-switzer;
  font-size: 1.6rem;

  @include media('<tablet'){
    font-size: 2.8rem;
  }
}

%description-20 {
  font-family: $font-switzer;
  font-size: 2rem;

  @include media('<tablet'){
    font-size: 2.8rem;
  }
}
