%title-32{
  font-family: $font-oranienbaum;
  font-size: 2.222vw;
  line-height: 1;

  @media screen and (max-width: 768px){
    font-size: 5rem;
  }
}


%title-50{
  font-family: $font-oranienbaum;
  font-size: 3.472vw;
  line-height: 1;
  
  @media screen and (max-width: 768px){
    font-size: 6.5rem;
  }
}

%title-70{
  font-family: $font-oranienbaum;
  font-size: 4.2787vw;
  line-height: 1;

  @media screen and (max-width: 768px){
    font-size: 5rem;
  }
}

%title-144 {
  font-family: $font-oranienbaum;
  font-size: 10vw;

  @media screen and (max-width: 768px){
    font-size: 8.2rem;
  }
}
