%vertical-titles{
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) rotate(-90deg);
  align-items: center;
  z-index: 1;
}

%vertical-titles__label{
  @extend %description-12;

  margin: 0 3rem;
  letter-spacing: 0.1rem;
  transform: rotate(90deg);
  text-transform: uppercase;
  text-align: center;

  @include media('<phone'){
    font-size: 1.2rem;
  }
}

%vertical-titles__title{
  @extend %title-200;

  padding-top: 2rem;
}
