$color-white: #edede4;
$color-black: #31312E;

$font-oranienbaum: 'Oranienbaum', serif;
$font-league-spartan-regular: 'League Spartan', sans-serif;
$font-league-spartan-light: 'League Spartan', sans-serif;

$z-indexes: (
  'alert',
  'preloader',
  'navigation',
  'content',
  'canvas'
);