$color-white: #f8f5f2;
$color-black: #232323;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader',
  'navigation',
  'content',
  'canvas'
);
