$color-white: #f5f5f5;
$color-black: #282828;

$font-merriweather: 'Merriweather Sans', sans-serif;
$font-league-spartan-regular: 'League Spartan', sans-serif;
$font-league-spartan-light: 'League Spartan', sans-serif;

$z-indexes: (
  'alert',
  'preloader',
  'navigation',
  'content',
  'canvas'
);