.preloader{
  @extend %cover;

  color: $color-black;
  background-color: $color-white;
  text-align: center;
  overflow: hidden;

  z-index: z('preloader');
}

.preloader__text{
  position: absolute;
  top: 8rem;
  left: 32%;

  span{
    display: inline-block;
    overflow: hidden;
  }

  span span{
    @extend %title-60;

    @include media('<desktop'){
      font-size: 8rem;
    }
  }

  @include media('<desktop'){
    left: 50%;
    transform: translateX(-50%);
  }
}

.preloader__number{
  @extend %title-90;

  position: absolute;
  top: 50%;
  left: 32%;
  transform: translateY(-50%);
  overflow: hidden;

  @include media('<desktop'){
    left: 50%;
    transform: translateX(-50%);
  }
}

.preloader__number__text{
  display: inline-block;
}
