.preloader{
  @extend %cover;

  background-color: transparent;
  color: $color-white;
  overflow: hidden;
  position: fixed;

  z-index: z('preloader');
}

.preloader__background{
  width: 100%;
  height: 100%;
  background-color: $color-black;
  overflow: hidden;
  position: fixed;
}

.preloader__wrapper{
  display: flex;
  position: absolute;
  align-items: baseline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.preloader__text{
  @extend %title-32;

  span{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  span span{
    will-change: transform;
  }
}

.preloader__number{
  @extend %title-23;

  overflow: hidden;
}

.preloader__number__text{
  display: inline-block;
}
