.preloader{
  @extend %cover;

  color: $color-black;
  background-color: $color-white;
  text-align: center;
  overflow: hidden;

  z-index: z('preloader');
}

.preloader__text{
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);

  span{
    display: inline-block;
    overflow: hidden;
  }

  span span{
    @extend %title-60;
  }
}

.preloader__number{
  @extend %title-200;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  @include media('<desktop'){
    font-size: 2.4rem;
  }
}

.preloader__number__text{
  display: inline-block;
}
