*,
*::after,
*::before{
  box-sizing: border-box;
  user-select: none;
}

html{
  @extend %cover;

  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  background: $color-white;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 768px) {
    font-size: calc(100vw / 750 * 10);
  }
}

body{
  @extend %cover;

  font-family: $font-switzer;
  overflow: hidden;

  @media screen and (max-width: 768px){
    overflow: scroll;
  }
}

a{
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: crosshair;
}


img{
  opacity: 0;
  vertical-align: middle;
  aspect-ratio: 16 / 9;

  @media screen and (max-width: 768px){
    transition: opacity 0.4s ease;

    &.loaded {
      opacity: 1;
    }
  }
}

canvas {
  pointer-events: none;
  position: relative;
  z-index: z('canvas')
}

.content{
  @extend %cover;
}