extends ../base.pug

block variables
  - var template = 'about'

block content
  .about
    .about__wrapper
      .about__title=about.data.title
      .about__message=about.data.message
      .about__description=about.data.description[0].text
