extends ../base.pug

block variables
  - var template = 'about'

block content
  .about
    .about__wrapper
      .about__frame
        each row in about.data.infos
          .about__infos__row
            p.about__infos__row__text!=row.infos_text.replace(/\n/g, '<br>')

      .about__contact__list
        each link in about.data.contact
          a.about__contact__list__link(href=link.contact_link.url target="_blank")=link.contact_title

      figure.about__media
        img.about__media__image(alt=about.data.image.alt  data-src=about.data.image.url)