extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    .home__wrapper
      each item in home
        .item
          .item__wrapper
            a.item__wrapper__link(draggable="false" href=Link(item.data.project[0].project_shots))
            .item__wrapper__title=item.data.title
