.home{
  // @extend %page;

  z-index: 0;
}

.home__wrapper{
  @extend %cover;

  // overflow: hidden;
}


.home__gallery{
  @extend %cover;

  z-index: 1;
}

.home__gallery__wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80vw;
  transform: translateX(-50%);
  background-color: red;


}

.item__gallery__card{
  position: relative;
  width: 100%;
  margin-bottom: 3rem;

  &:last-child{
    margin-bottom: 0;
  }
}

.item__gallery__card__title{
  position:  absolute;
  bottom: 2rem;
  left: 0;
}

.home__gallery__card__media{
  position: relative;
  top: 0;
  right: 0;
  height: 20rem;
  width: 20rem;
  visibility: visible;
}

.home__gallery__card__media__image{
  @extend %cover;

  object-fit: cover;
}
