.home{
  @extend %page;
}

.home__wrapper{
  @extend %cover;
}

.home__list{
  padding-top: 34vh;
  will-change: transform;

  @media screen and (max-width: 768px){
    padding-top: 26rem;
    padding-bottom: 18rem;
  }
}

.item{
  line-height: 2.46;
  overflow: hidden;
  color: #f5f5f5;
  -webkit-text-stroke: 1px #282828;
  text-stroke: 1px #282828;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  pointer-events: none;
  margin-left: 4rem;

  @media screen and (max-width: 768px){
    line-height: 1.25;
    opacity: 1;
    color: #282828;
    -webkit-text-stroke: unset;
    text-stroke: unset;
    pointer-events: all;
  }
}

.item_on_middle{
  color: #282828;
  pointer-events: all;
  margin-left: 6rem;
}

.item__wrapper{
  position: relative;
  will-change: transform;
}

.item__wrapper__link{
  @extend %cover;

  z-index: 1;
}

.item__wrapper__title{
  @extend %title-200;
  
  letter-spacing: 0.3rem;
}
