.home{
  @extend %page;

  &::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, $color-white 15%, rgba(201, 113, 100, 0) 100%);
    bottom: 0;
    height: 10vh;
  }

  z-index: 0;

  @media screen and (max-width: 768px){
     &::after{
      content: none;
    }
  }
}

.home__wrapper{
  padding-top: calc(50vh - 145px);
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px){
    padding-top: 15rem;
  }
}

.item{
  line-height: 1.25;
  overflow: hidden;
  color: #f5f5f5;
  -webkit-text-stroke: 1px #282828;
  text-stroke: 1px #282828;
  transform: scale3d(1, 1, 1);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

  &:not(:last-child){
    margin-bottom: 24rem;
  }

  &:hover{
    transform: scale3d(1.02, 1.02, 1);
  }

  @media screen and (max-width: 768px){
    line-height: 1.25;
    opacity: 1;
    color: #282828;
    -webkit-text-stroke: unset;
    text-stroke: unset;
  }
}

.item_on_middle{
  color: #282828;
}

.item__wrapper{
  position: relative;
  will-change: transform;
}

.item__wrapper__link{
  @extend %cover;

  z-index: 1;
}

.item__wrapper__title{
  @extend %title-200;
  
  letter-spacing: 0.3rem;
}
